{% extends '::base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('identification') }}" method="post">
        <label for="username">Adresse e-mail :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password" />

        <button type="submit">Se Connecter</button>
    </form>
{% endblock %}