{% extends '::base.html.twig' %}

{% block administration %}
    <ul class="nav navbar-nav footer-nav col-sm-12 ">
        <li><a href="{{ path('liste_marques') }}">Marques</a></li>
        <li><a href="{{ path('liste_produits') }}">Produits</a></li>
        <li><a href="{{ path('liste_utilisateurs') }}">Utilisateurs</a></li>
    </ul>
{% endblock %}