<div id="footer-wrapper">
    <div id="footer">
        <div id="footer-inner">
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <nav class="clearfix">
                                <ul class="nav navbar-nav footer-nav">
                                    <li><a href="{{ path('contact') }}">Contact</a></li>
                                    <li><a href="{{ path('mentions_legales') }}">Mentions légales</a></li>
                                    <li><a href="{{ path('faq') }}">Faq</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-6">
                            <p class="copyright">
                                Créé par <a href="{{ path('homepage') }}">Starker-xp.net</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>