{% extends '::base.html.twig' %}

{% block body %}
    <ul class="nav navbar-nav footer-nav">
            <li><a href="{{ path('liste_marques') }}">Marques</a></li>
            <li><a href="{{ path('liste_produits') }}">Produits</a></li>
            <li><a href="{{ path('liste_utilisateurs') }}">Utilisateurs</a></li>
        </ul>
{% endblock %}