{% extends '::homepage.html.twig' %}

{% block body %}
    <form action="{{ path('recherche') }}" method="post">
        <div class="form-group center center-block" style="width: 300px;">
            <input type="text"  name="recherche" class="form-control" placeholder="Saisissez votre recherche"/><br/>
            <input type="submit"  class="btn btn-secondary" value="Rechercher"/>
        </div>
    </form>
{% endblock %}