{% extends '::base.html.twig' %}
{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div class="container">
        <div class="block-content fullwidth">
            <div class="block-content-inner">
                <h1>Mentions légales</h1>

                <div class="blog-meta bottom-border">01 Septembre, 2014</div>
                <h2>Var Motoself</h2>
                <p>
                    Var Motoself<br/>
                    75 impasse Perdigaou<br/>
                    83136 ROCBARON<br/><br/>
                    TVA : FR29384056115<br/>
                    SIREN :	384056115<br/>
                </p>
                <h2>Propriété intellectuelle :</h2>
                <p>
                    Toute reproduction ou distribution non autorisée de tout ou partie des éléments et informations de ce site par quelque procédé que ce soit, sans autorisation expresse de var-motoself.com, est interdite, et constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.
                </p>
                <p>
                    Les informations, images, textes et autres documents présents sur le site var-motoself.com sont protégés par des droits de propriété industrielle et/ou intellectuelle, soit que la var-motoself.com en soit le titulaire, soit qu'elle soit autorisée à les reproduire et les représenter.
                </p>
                <h2>Hébergeur</h2>
                <p>
                    Le site http://www.var-motoself.com est hébergé par la société OVH.FR, 2 rue Kellermann – 59100 Roubaix.
                </p>
                <h2>Données personnelles</h2>
                <p>
                    Conformément à l'article 34 de la loi « Informatique et Libertés », vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent.
                    Signalez-le-nous par courrier, en précisant vos nom, prénom et adresse, à l'adresse suivante : webmaster@var-motoself.com
                </p>
                <h2>Droit applicable</h2>
                <p>
                    Le site Internet et ses conditions d'accès et d'utilisation sont régis par le droit français. Tout différend relatif au dit site Internet sera soumis à la compétence exclusive des Tribunaux de Paris.
                </p>
            </div>
        </div>
    </div>
{% endblock %}